In [61]:
import pandas as pd
df = pd.read_csv('data.csv', sep=',', comment="#")
df.head(5)

,Marker,Chr,Pos,LG,cM,2,5,6,12,13,...,160,164,167,170,171,173,175,176,177,178
0,983365,1A,546799865.0,NaN,NaN,B,B,B,A,A,...,A,A,A,A,A,A,A,B,B,B
1,989276,1A,10492563.0,NaN,NaN,A,A,B,B,B,...,A,B,B,-,B,B,-,A,A,A
2,993265,1A,10483600.0,NaN,NaN,A,A,-,B,B,...,A,B,B,A,B,-,A,A,A,A
3,1004470,1A,565292285.0,NaN,NaN,B,B,B,A,A,...,A,A,A,A,A,A,A,B,B,B
4,1010836,1A,565858602.0,NaN,NaN,B,B,B,A,A,...,A,A,A,A,A,A,A,B,-,B

In [59]:
df = df.transpose()

df.loc['new_chr'] = 1
frames = [df.loc[['Marker','new_chr']], df[5:]]
df = pd.concat(frames)
df.rename(index={'Marker':'id'},inplace=True)
df.rename(index={'new_chr':''},inplace=True)
df.to_csv('qtl.csv', header=None)

,0,1,2,3,4,5,6,7,8,9,...,14869,14870,14871,14872,14873,14874,14875,14876,14877,Chr
Marker,983365,989276,993265,1004470,1010836,1013527,1014354,1015865,1026325,1026677,...,1061856,6005995,10592489,10592441,1229757,1255950,3027649,1052947,3570051,1
Chr,1A,1A,1A,1A,1A,1A,1A,1A,1A,1A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
Pos,5.468e+08,1.04926e+07,1.04836e+07,5.65292e+08,5.65859e+08,9.25472e+06,5.69846e+08,5.84357e+08,2.93894e+06,2.87666e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
LG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
cM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,B,A,A,B,B,A,B,B,A,A,...,A,B,B,B,B,B,A,B,-,1
5,B,A,A,B,B,A,B,A,B,A,...,B,B,A,A,-,A,A,B,-,1
6,B,B,-,B,B,B,B,B,B,A,...,A,A,A,-,B,A,-,B,A,1
12,A,B,B,A,A,A,A,B,B,B,...,A,B,A,B,-,A,A,A,A,1
13,A,B,B,A,A,B,A,B,A,B,...,A,A,B,B,B,B,-,B,A,1