In [159]:
import pandas as pd
df_merger = pd.read_csv('merged_.csv', sep=',', comment="#", header=None)
max_col = max(df_merger.columns)
df_res = pd.merge(df_merger, df_map, left_on=0, right_on='marker')
df_res.cM = df_res.cM.round(2)
df_res.drop('marker', axis=1, inplace=True)
cols = [0, 1, 2, 'LG', 'cM'] + [l for l in range(3, max_col + 1)]
df_res = df_res[cols]
df_res.to_csv('merged_2.csv', header=None, sep=",", index=None)

df_res.rename({0: 'marker', 1: 'ref_chromosome', 2: 'ref_position'}, axis=1, inplace=True)
df_res

,marker,ref_chromosome,ref_position,LG,cM,3,4,5,6,7,...,119,120,121,122,123,124,125,126,127,128
0,{4394419},1A,NaN,3,0.00,A,B,-,-,B,...,A,A,B,A,B,B,A,A,A,A
1,{1077302},1A,4547033.0,1,14.32,B,B,A,B,B,...,A,B,B,A,B,B,A,A,A,A
2,"{7350034}:{4405229, 1238454, 1229578, 1047341,...",1A,NaN,1,14.92,B,B,B,B,B,...,A,B,B,A,B,B,A,A,A,A
3,"{3021960}:{2266418*, 4990446, 1224449*, 4022614*}",1A,NaN,1,15.59,B,B,B,B,B,...,A,-,B,A,B,B,A,A,A,A
4,{3027396*},1A,3469176.0,1,16.90,B,B,-,B,B,...,A,B,B,A,B,B,A,A,A,A
5,{1085190},1A,NaN,1,18.79,B,B,-,A,B,...,A,B,B,A,B,B,A,A,A,A
6,{4541095},1A,NaN,1,0.18,B,B,-,A,B,...,A,B,B,A,B,B,A,A,A,-
7,"{7336092*, 3023749, 3947903*}",1A,NaN,1,10.42,A,B,-,B,B,...,A,B,B,A,B,B,-,A,-,A
8,{4010074},1A,NaN,1,10.86,A,B,B,B,B,...,A,B,B,A,-,-,A,A,A,A
9,{3960868}:{5367440}:{3032740},1A,7778825.0,1,13.09,A,B,-,B,B,...,A,B,B,A,B,B,A,A,A,A
10,"{4990240, 4404716, 3935791, 4262943}:{1237287}...",1A,NaN,1,5.76,A,B,B,B,B,...,A,B,B,A,B,B,A,A,A,A
11,{1087876},1A,497284656.0,2,0.00,B,B,A,B,A,...,A,A,-,A,A,B,-,B,A,B
12,{3533783},1A,497499116.0,2,0.21,B,B,A,B,A,...,A,A,A,A,A,B,A,B,A,B
13,{1203934},1A,492796687.0,2,4.39,B,B,A,B,A,...,B,B,A,A,A,B,-,B,B,B

In [33]:

import pandas as pd
import merger

from subprocess import Popen, PIPE

In [34]:
df = pd.read_csv('merged.csv', sep='\t', comment="#", header=None)
df.rename(columns={0: 'Marker'}, inplace=True)
df['new_chr'] = 1
df = df.transpose()
frames = [df.loc[['Marker', 'new_chr']], df[4:]]
df = pd.concat(frames)
df.rename(index={'Marker': 'id'}, inplace=True)
df.rename(index={'new_chr': ''}, inplace=True)
df.to_csv('qtl.csv', header=None)

cmd_list = ['Rscript','rqtl.R','rqtl.csv']
p = Popen(cmd_list, stdout=PIPE, stderr=PIPE)
out,err = p.communicate()

In [36]:
err

b'Error: RStudio not running\nExecution halted\n'

In [69]:
import pandas as pd
df_map = pd.read_csv('map.csv', sep=',', comment="#", )
df_map.columns = ['marker', 'chromosome','position']
chrs = {}
for k,v in df_map.iterrows():
    pos = str(round(v.position, 2))
    if v.chromosome in chrs and pos in chrs[v.chromosome]:
        print(v.chromosome, pos)
    chrs.setdefault(v.chromosome, []).append(pos)

1 1.0
1 1.0
1 1.39
1 1.39
1 4.48
1 4.48
1 7.93
1 11.32
1 11.32
1 11.32
1 11.32
1 12.95
1 12.95
1 16.23
1 16.23
1 16.63
1 16.63
1 16.63
1 17.02
1 17.02
1 18.23

In [123]:
df_map = pd.read_csv('map.csv', sep=',', comment='#')
df_map.columns = ['marker', 'LG', 'cM']
df_merger = pd.read_csv('merged_.csv', sep=',', comment="#", header=None)
max_col = max(df_merger.columns)
df_res = pd.merge(df_merger,df_map, left_on=0, right_on='marker')
df_res.cM = df_res.cM.round(2)
df_res.drop('marker', axis=1, inplace=True)
cols = [0,1,2,3,'LG','cM'] + [l for l in range(4, max_col + 1)]
df_res = df_res[cols]
df_res.rename({0: 'marker',1:'ref_chromosome',2:'ref_position', 3:'marker_position'}, axis=1, inplace=True)
df_res.to_csv('table.csv',sep=',', index=None)

[3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129]

In [103]:
df_merger = pd.read_csv('merged_.csv', sep=',', comment="#", header=None)
df_merger.head(3)
df_map = pd.read_csv('map.csv', sep=',', comment='#')
df_map.head(3)

                      Unnamed: 0  chr       pos
0                      {4394419}    1  0.000000
1                      {4010074}    1  4.682099
2  {7336092*, 3023749, 3947903*}    1  5.757466

In [110]:
df_merger = pd.read_csv('merged_.csv', sep=',', comment="#", header=None)
df_map = pd.read_csv('map.csv', sep=',', comment='#')
df_map.columns = ['marker', 'chromosome', 'position']
#max_col = max(df_merger.columns)
#df_res = pd.merge(df_merger, df_map, left_on=0, right_on='marker')
#df_res.position = df_res.position.round(2)
#df_res.drop('marker', axis=1, inplace=True)
#cols = [0, 1, 2, 3, 'chromosome', 'position'] + [l for l in range(4, max_col + 1)]
#df_res = df_res[cols]
df_merger

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,"{4010074}:{1131892, 997691*, 2278338, 1007077*...",9558929.0,1A,B,-,B,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
1,{1285556}:{1083062}:{989276},1A,10492563.0,B,B,B,B,A,A,B,...,A,B,B,-,B,B,-,A,A,A
2,"{1102623, 3385320, 3023997, 3385278, 1116485}:...",NaN,1A,B,B,B,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
3,{1085190},NaN,1A,B,-,A,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
4,"{5332931}:{1114742, 4540658}:{7335759}:{603119...",NaN,1A,B,A,A,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
5,{4541095},NaN,1A,B,-,A,B,A,A,B,...,A,B,B,A,B,B,A,A,A,-
6,{1110821}:{4990529}:{4395804},1A,NaN,B,B,A,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
7,{4989480}:{2374307}:{1228422}:{4543266},1A,NaN,B,-,A,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
8,{3027396*},3469176.0,1A,B,-,B,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
9,"{3021960}:{2266418*, 4990446, 1224449*, 4022614*}",1A,NaN,B,-,B,-,A,A,B,...,-,B,B,A,B,B,-,A,A,A
10,"{7350034}:{4405229, 1238454, 1229578, 1047341,...",1A,NaN,B,B,B,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
11,{1077302},4547033.0,1A,B,A,B,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
12,{1121533},6776459.0,1A,B,A,B,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
13,{2351729},6500877.0,1A,B,A,B,B,A,A,B,...,A,B,B,-,B,B,A,A,A,A
14,"{4538720, 1109417}:{1013527, 5412113*, 5411280...",1A,NaN,B,A,B,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
15,{3960868}:{5367440}:{3032740},1A,7778825.0,B,-,B,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
16,{1005431*},7330695.0,1A,B,A,B,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
17,"{1257291, 1257291*, 2327700}",7274935.0,1A,B,B,B,B,A,A,B,...,A,B,B,A,-,-,A,A,A,A
18,"{4990240, 4404716, 3935791, 4262943}:{1237287}...",1A,NaN,B,B,B,B,A,A,B,...,A,B,B,A,B,B,A,A,A,A
19,{1087876},497284656.0,1A,B,A,B,A,B,A,A,...,A,A,-,A,A,B,-,B,A,B
20,{3533783},497499116.0,1A,B,A,B,A,B,A,A,...,A,A,A,A,A,B,A,B,A,B
21,{1203934},492796687.0,1A,B,A,B,A,B,A,A,...,B,B,A,A,A,B,-,B,B,B
22,{4394419},NaN,1A,B,-,-,B,A,A,B,...,A,A,B,A,B,B,A,A,A,A