In [43]:
import pandas as pd
df = pd.read_csv('merged.csv', sep=',', comment="#", header=None)
df.rename(columns={0: 'Marker'}, inplace=True)
df['new_chr'] = 1
df = df.transpose()
frames = [df.loc[['Marker', 'new_chr']], df[4:-1]]
df = pd.concat(frames)
df.rename(index={'Marker': 'id'}, inplace=True)
df.rename(index={'new_chr': ''}, inplace=True)
df.to_csv('rqtl.csv', header=None)

In [33]:

import pandas as pd
import merger

from subprocess import Popen, PIPE

In [34]:
df = pd.read_csv('merged.csv', sep='\t', comment="#", header=None)
df.rename(columns={0: 'Marker'}, inplace=True)
df['new_chr'] = 1
df = df.transpose()
frames = [df.loc[['Marker', 'new_chr']], df[4:]]
df = pd.concat(frames)
df.rename(index={'Marker': 'id'}, inplace=True)
df.rename(index={'new_chr': ''}, inplace=True)
df.to_csv('qtl.csv', header=None)

cmd_list = ['Rscript','rqtl.R','rqtl.csv']
p = Popen(cmd_list, stdout=PIPE, stderr=PIPE)
out,err = p.communicate()

In [36]:
err

b'Error: RStudio not running\nExecution halted\n'

In [69]:
import pandas as pd
df_map = pd.read_csv('map.csv', sep=',', comment="#", )
df_map.columns = ['marker', 'chromosome','position']
chrs = {}
for k,v in df_map.iterrows():
    pos = str(round(v.position, 2))
    if v.chromosome in chrs and pos in chrs[v.chromosome]:
        print(v.chromosome, pos)
    chrs.setdefault(v.chromosome, []).append(pos)

1 1.0
1 1.0
1 1.39
1 1.39
1 4.48
1 4.48
1 7.93
1 11.32
1 11.32
1 11.32
1 11.32
1 12.95
1 12.95
1 16.23
1 16.23
1 16.63
1 16.63
1 16.63
1 17.02
1 17.02
1 18.23

In [100]:
df_merger = pd.read_csv('merged_.csv', sep=',', comment="#", header=None)
max_col = max(df_merger.columns)
df_res = pd.merge(df_merger,df_map, left_on=0, right_on='marker')
df_res.position = df_res.position.round(2)
df_res.drop('marker', axis=1, inplace=True)
cols = [0,1,2,3,'chromosome','position'] + [l for l in range(4, max_col + 1)]
df_res = df_res[cols]
df_res.to_csv('merged_.csv', header=None, sep=",")

,0,1,2,3,chromosome,position,4,5,6,7,...,121,122,123,124,125,126,127,128,129,130
0,{1085190},1A,NaN,1085190,1,2.75,A,B,B,-,...,A,B,B,A,B,B,A,A,A,A
1,{1285556},1A,NaN,1285556,1,16.23,A,A,B,-,...,A,B,B,A,B,B,A,A,A,A
2,{4989480},1A,NaN,4989480,1,4.48,A,B,B,B,...,A,B,B,A,B,B,A,A,A,A
3,{1110821},1A,1669927.0,1110821,1,2.16,A,B,B,-,...,A,B,B,A,B,B,A,A,A,A
4,{7350034},1A,NaN,7350034,1,7.93,A,B,B,B,...,A,A,B,A,B,A,A,A,A,A
5,{3960868},1A,NaN,3960868,1,12.95,A,A,B,A,...,A,B,B,A,B,B,A,A,A,A
6,{1116874},1A,10224003.0,1116874,1,16.63,A,A,B,B,...,A,B,-,A,B,B,A,A,A,A
7,{4543266},1A,NaN,4543266,1,3.70,A,B,B,-,...,A,B,B,A,B,B,A,A,A,A
8,{1087876},1A,497284656.0,1087876,2,0.00,A,B,B,A,...,A,A,-,A,A,B,-,B,A,B
9,"{4990240, 4404716, 3935791, 4262943}",1A,NaN,4990240,1,11.32,A,A,B,B,...,A,B,B,A,B,B,A,A,A,A
10,"{1257291, 1257291*, 2327700}",1A,7274935.0,1257291,1,13.87,A,A,B,B,...,A,B,B,A,-,-,A,A,A,A
11,{4541095},1A,NaN,4541095,1,0.00,A,B,B,-,...,A,B,B,A,B,B,A,A,A,-
12,{3532756},1A,NaN,3532756,1,1.39,A,B,B,A,...,A,B,B,A,B,B,A,A,A,A
13,{4990529},1A,NaN,4990529,1,3.89,A,B,-,-,...,A,B,B,A,A,A,A,A,A,A
14,{3021960},1A,NaN,3021960,1,6.94,A,B,B,B,...,A,-,B,A,B,B,A,A,A,A
15,{2374307},1A,NaN,2374307,1,4.48,A,B,B,B,...,A,B,B,A,B,B,A,A,A,A
16,{1203934},1A,492796687.0,1203934,2,4.20,A,B,B,A,...,B,B,A,A,A,B,-,B,B,B
17,{5367440},1A,NaN,5367440,1,12.95,A,A,B,A,...,A,B,B,A,B,-,A,-,A,A
18,{3032740},1A,7778825.0,3032740,1,12.95,A,A,B,-,...,A,B,B,A,B,B,A,A,A,A
19,{1083062},1A,11160018.0,1083062,1,16.23,A,A,A,B,...,A,-,B,A,B,B,A,A,A,A
20,{1005431*},1A,7330695.0,1005431*,1,13.41,A,A,B,A,...,A,B,B,A,B,B,A,A,A,A
21,{1228422},1A,1887033.0,1228422,1,4.48,A,B,B,B,...,A,B,B,A,B,-,A,A,A,A
22,{4395804},1A,NaN,4395804,1,4.08,A,B,B,B,...,A,B,B,A,B,B,A,A,A,A
23,{3958903},1A,NaN,3958903,1,17.02,A,A,B,B,...,A,B,B,A,A,-,A,A,A,A
24,{4010074},1A,NaN,4010074,1,17.02,A,A,B,B,...,A,B,B,A,-,-,A,A,A,A
25,{989276},1A,10492563.0,989276,1,16.23,A,A,B,B,...,A,B,B,-,B,B,-,A,A,A
26,"{1131892, 997691*, 2278338, 1007077*, 7336092}",1A,NaN,1131892,1,17.02,A,A,B,-,...,A,B,B,A,B,B,A,A,A,A
27,{1129036},1A,9558929.0,1129036,1,18.49,A,A,B,-,...,A,B,B,A,-,B,A,A,A,A
28,{1074925},1A,NaN,1074925,1,16.63,A,A,B,B,...,A,B,B,A,-,B,A,A,A,A
29,{2351729},1A,6500877.0,2351729,1,9.73,A,A,B,A,...,A,B,B,-,B,B,A,A,A,A
30,"{3958149, 4664017, 1000928*, 1007201*, 3024292...",1A,NaN,3958149,1,16.63,A,A,B,B,...,A,B,B,A,B,B,A,A,A,A
31,{1237287},1A,NaN,1237287,1,11.32,A,A,B,B,...,A,B,B,A,-,B,A,A,A,A
32,{5332931},1A,2185085.0,5332931,1,1.00,A,B,B,A,...,A,B,B,A,B,B,A,A,A,A
33,{1106928},1A,534587481.0,1106928,1,10.80,A,A,B,-,...,A,B,B,A,B,-,A,A,A,A
34,"{1114742, 4540658}",1A,1887036.0,1114742,1,1.39,A,B,B,A,...,A,B,B,-,B,B,A,A,A,A
35,{3533783},1A,497499116.0,3533783,2,0.19,A,B,B,A,...,A,A,A,A,A,B,A,B,A,B
36,"{4538720, 1109417}",1A,NaN,4538720,1,18.23,A,-,B,A,...,A,B,B,A,B,B,A,A,A,A
37,{1077302},1A,4547033.0,1077302,1,8.90,A,B,B,A,...,A,B,B,A,B,B,A,A,A,A
38,{993265},1A,10483600.0,993265,1,16.63,A,A,-,B,...,A,B,B,A,B,-,A,A,A,A
39,"{1102623, 3385320, 3023997, 3385278, 1116485}",1A,NaN,3023997,1,15.84,A,A,B,B,...,A,B,B,A,B,B,A,A,A,A
40,"{4405229, 1238454, 1229578, 1047341, 1110610, ...",1A,NaN,4405229,1,7.93,A,B,B,B,...,A,B,B,A,B,B,A,A,A,A
41,{1121533},1A,6776459.0,1121533,1,12.55,A,A,B,A,...,A,B,B,A,B,B,A,A,A,A
42,{4394419},1A,NaN,4394419,1,22.49,A,A,B,-,...,A,A,B,A,B,B,A,A,A,A
43,{3027396*},1A,3469176.0,3027396*,1,5.71,A,B,B,-,...,A,B,B,A,B,B,A,A,A,A
44,{3944652},1A,6294507.0,3944652,1,11.32,A,A,B,B,...,A,B,B,A,B,B,A,A,A,A
45,"{1013527, 5412113*, 5411280, 4394941, 3942105,...",1A,NaN,5412113*,1,18.23,A,A,B,A,...,A,B,B,A,B,B,A,A,A,A
46,{7335759},1A,NaN,7335759,1,1.00,A,B,B,A,...,A,B,-,A,B,B,A,A,A,A
47,"{2266418*, 4990446, 1224449*, 4022614*}",1A,NaN,4990446,1,7.43,A,B,B,-,...,-,B,B,A,B,B,-,A,A,A
48,"{3952253, 3950972}",1A,NaN,3952253,1,11.32,A,A,B,B,...,A,B,B,A,B,B,A,A,A,A
49,"{4411390, 1092630, 1150277, 1090908, 1106451, ...",1A,NaN,4411390,1,1.39,A,B,B,A,...,A,B,B,A,B,B,A,A,A,A
50,"{1082805, 1225224, 1161674, 4261359, 1204785*,...",1A,NaN,1225224,1,11.32,A,A,B,-,...,A,B,B,A,B,A,A,A,A,A
51,{6031199},1A,NaN,6031199,1,1.00,A,B,B,A,...,A,B,B,A,B,B,-,A,A,A
52,"{7336092*, 3023749, 3947903*}",1A,NaN,3023749,1,17.63,A,A,B,-,...,A,B,B,A,B,B,-,A,-,A

[3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129]

In [103]:
df_merger = pd.read_csv('merged_.csv', sep=',', comment="#", header=None)
df_merger.head(3)
df_map = pd.read_csv('map.csv', sep=',', comment='#')
df_map.head(3)

                      Unnamed: 0  chr       pos
0                      {4394419}    1  0.000000
1                      {4010074}    1  4.682099
2  {7336092*, 3023749, 3947903*}    1  5.757466